<style>
    @import url('http://fonts.cdnfonts.com/css/billabong');
</style>

  <!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top" style="box-shadow: 0px 0px 2px black;">
    <div class="">
      <!-- main nav -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- logo -->
        <a style="color:#000000;font-weight:lighter;font-family: Billabong;margin-left: 130px;font-size:25px;" class="navbar-brand logo" href="/">
          Instagram
        </a>
        <!-- /logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}">
            <input style="height: 25px; font-size:15px;margin-left: 150px;width: 190px;background-color: rgba(228, 225, 225, 0.541);" name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
       </form>


        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item ">
                <a href="/"><img style="width:20px;height:20px;margin-right:20px" src="/static/images/hut.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/"><img style="width:20px;height:20px;margin-right:20px" src="/static/images/messenger.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/" class="" data-toggle="modal" data-target="#imageUpload"><img style="width:20px;height:20px;margin-right:20px" src="/static/images/plus.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/"><img style="width:20px;height:20px;margin-right:20px" src="/static/images/compass.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/"><img style="width:20px;height:20px;margin-right:20px" src="/static/images/like.png"></a>
            </li>
            <li class="nav-item ">
                <a href="{% url 'profile' user.username %}"><img class="rounded-circle" style="width:20px;height:20px;margin-right:180px;" src="{{ user.profile.profile_picture.url }}"></a>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>